{% extends "layout.html" %}

{% block content %}
    
        
    <section id="about-us">
        <div class="container">         
            <div class="skill-wrap clearfix">           
                <div class="center wow fadeInDown">
                    <h2><span>Advertisers</span></h2>
                    <p class="lead" style="color:#ffffff">ClickBuzz Media Team connects brands to the most engaged audiences.</p>
                    <div class="s-request" style="bottom: 10px;">
                        <h3><a href="http://www.clickbuzzmedia.com/signup">Sign up</a></h3>
                    </div>
                </div>
                
            </div>
            
            <!-- our-team -->
            <div class="team">

                <div class="row clearfix">
                    <div class="col-md-3">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-sitemap"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;">Full control</h4>
                                </div>
                            </div><!--/.media -->
                            <h6>You control how and when to engage your users through various targeting including Geo, OS, Browser, Time/Date, Source, and etc. Create, modify and set budgets, bids at any time.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
                    
                    
                    <div class="col-md-3 col-md-offset-1">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-user"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;">Support</h4>
                                </div>
                            </div><!--/.media -->
                            <h6>Our experienced team is devoted to enhance our relations with you. We are here to provide guidance and assistance when you need it.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->
                    <div class="col-md-3 col-md-offset-1">  
                        <div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-laptop"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;">Traffic</h4>
                                </div>
                            </div><!--/.media -->
                            <h6>We know the importance of quality traffic, hence we have various tools to flush out all fraud activity.</h6>
                        </div>
                    </div><!--/.col-lg-4 -->                                
                </div> <!--/.row -->
                <div class="row team-bar">
                    <!-- <div class="first-one-arrow hidden-xs">
                        <hr>
                    </div> -->
                    <div class="first-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="second-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="third-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                    <div class="fourth-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="fifth-arrow hidden-xs">
                        <hr> <i class="fa fa-angle-up"></i>
                    </div>
                </div> <!--skill_border-->       

                <div class="row clearfix">   
                    <div class="col-md-3 col-sm-6 col-md-offset-2"> 
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-bar-chart-o"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;">Realtime stats</h4>
                                </div>
                            </div><!--/.media -->
                            <h6>Our powerful reporting allows you to manage and analyze stats in the now, so you can quickly optimize campaigns to drive ROI.</h6>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-md-offset-2">
                        <div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="steps"><i class="fa fa-tachometer"></i></div>
                                </div>
                                <div class="media-body">
                                    <h4 style="font-weight:bold;">Low stakes</h4>
                                </div>
                            </div><!--/.media -->
                            <h6>With a minimum deposit of $50, what have you got to lose?</h6>
                        </div>
                    </div>
                </div>  <!--/.row-->
            </div><!--section-->
        </div><!--/.container-->
    </section><!--/about-us-->
    
    
{% endblock %}